:root{
  --Gray-ligth-form: hsl(0, 0%, 52%);
  --Gray-ligth-label: hsl(60, 3%, 43%);
  --Gray-border: hsla(0, 0%, 9%, 0.702);
  /* --Blue-input: hsla(206, 54%, 57%, 0.598); */
  --Blue-button: hsl(219, 89%, 51%);
  --Red-button: hsl(0, 65%, 56%);
  --Green-button: hsl(135, 51%, 33%);
  --Brown-button: hsl(48, 89%, 33%);
  --Violet-button: hsl(325, 90%, 31%);
  --Blue-button-hover: hsl(244, 83%, 53%);
  --Red-button-hover: hsl(0, 93%, 50%);
  --Green-button-hover: hsl(135, 91%, 48%);
  --Brown-button-hover: hsl(48, 91%, 50%);
  --Violet-button-hover: hsl(325, 85%, 39%);
  --Very-light-gray-background-input: hsl(0, 4%, 78%);
  --background: repeating-linear-gradient(
    -45deg,
    #fff,
    #fff 20px,
    hsl(0, 4%, 78%) 20px,
    hsl(0, 4%, 78%) 40px
    /* -45deg,
    yellow,
    yellow 20px,
    black 20px,
    black 40px */
)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body{
  background-image: var(--background);
  height: 100vh;
  /* min-height: calc(100vh - 0.1px); */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
  width: 100%;
  height: 120px;
  text-align: center;
  margin-bottom: 16px;
  background-image: url(/assets/background-rent-machinery.jpg);
  background-size: contain;
  position: fixed;
  z-index: 4;
  box-shadow: 3px 3px 30px black;
}

.header:before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(163, 159, 159, 0.401);
}

.nav{
  display: flex;
  align-items: flex-start;
  text-align: center;
  justify-content: flex-end;
  /* z-index: 102; */
}

.logo{
  width: 90px;
  position: relative;
  margin-bottom: 2rem;
}

.h1{
  display: inline-block;
  font-size: 20px;
  width: 50%;
  position: relative;
  transform: translate(-10%, 15%);
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 0 3rem 0 1rem;
}

.h1 .a{
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  width: 50%;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px black;
  text-decoration: none;
}

.checkbox#burger_icon {
  display: none;
}

.menu-icon{
  margin-top: -70px;
}

.menu-icon img {
  position: relative;
  background-color: var(--Gray-ligth-form);
  margin: 0px 1rem;
  cursor: pointer;
  width: 30px;
  height: 40px;
  border-radius: 5px;
}

.menu-icon img:hover {
  background-color: var(--Very-light-gray-background-input);
  transition: 0.3s;
}

.ul-nav-menu {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.603);
  position: fixed;
  width: 100%;
  height: 120vh;
  top: -1100px;
  right: 0;
  text-align: center;
  transition: all 500ms linear;
  /* z-index: 97; */
}

:checked ~ .ul-nav-menu {
  top: 7.5rem;
  z-index: 1;
}

.ul-nav-menu .li {
  padding: 3rem;
}

.ul-nav-menu .li .a {
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.ul-nav-menu .li .a:hover {
  color: red;
  transition: 0.3s;
}

/* TABLES */
/* General Style */

.main{
  width: 100%;
  padding: 8rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table{
  background-color: cornflowerblue;
  font-size: 10px;
  width: 90%;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
}

thead{
  background-color: cadetblue; 
  border-bottom: 5px solid rgb(7, 84, 87);
  color: white;
}

th, td{
  align-items: center;
  padding: 0;
  border: 1px solid black;
}

tr:nth-child(even){
  background-color: hsl(0, 0%, 87%);
}

tr:hover td{
  background-color: hsl(167, 47%, 40%);
}

.data{
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* FORMS */
/* General style */
section{
  background-color: var(--Gray-ligth-form);
  width: 290px;
  margin-bottom: 4rem;
  padding: 0.8rem 0.3rem;
  border: 2px solid var(--Gray-border);
  border-radius: 8px;
  box-shadow: 2px 3px 8px rgb(63, 62, 62);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sectionForm_machine, .sectionForm_client, .sectionForm_message{
  margin-top: 8rem;
}

form{
  border-radius: 5px;
}

.label{
  width: 6rem;
  background-color: var(--Gray-ligth-label);
  border-radius: 3px;
}

input{
  width: 10rem;
  background-color: var(--Very-light-gray-background-input);
}

.button_add{
  background-color: var(--Blue-button);
  border-radius: 10px;
  margin-bottom: 0.5rem;
  padding: 3px 6px;
  outline: 2px solid var(--Blue-button);
  outline-offset: 2px;
  border: none;
}

.form_buttons{
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0 0 6rem;
  padding: 0.5rem;
}

.buttons_actions{
  flex-direction: column;
}

.button_details{
  background-color: var(--Violet-button);
  border-radius: 10px;
  margin: 0.7rem;
  padding: 3px 6px;
  outline: 2px solid var(--Violet-button);
  outline-offset: 2px;
  border: none;
}

.button_details:hover{
  background-color: var(--Violet-button-hover);
}

.button_save{
  background-color: var(--Blue-button);
  border-radius: 10px;
  margin-left: 1.7rem;
  padding: 3px 6px;
  outline: 2px solid var(--Blue-button);
  outline-offset: 2px;
  border: none;
}

.form_buttons .button_save:hover, .confirmation_buttons .button_save:hover, .button_add:hover{
  background-color: var(--Blue-button-hover);
}

.button_cancel, .button_delete{
  background-color: var(--Red-button);
  border-radius: 10px;
  padding: 3px 6px;
  outline: 2px solid var(--Red-button);
  outline-offset: 2px;
  border: none;
}

.button_cancel:hover, .button_delete:hover{
  background-color: var(--Red-button-hover);
}

.details_buttons{
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0 0 2.5rem;
  padding: 0.5rem ;
}

.details_buttons .button_edit{
  background-color: var(--Green-button);
  border-radius: 10px;
  margin-left: 1rem;
  padding: 3px 6px;
  outline: 2px solid var(--Green-button);
  outline-offset: 2px;
  border: none;
}

.details_buttons .button_edit:hover{
  background-color: var(--Green-button-hover);
}

.details_buttons .button_update{
  background-color: var(--Brown-button);
  border-radius: 10px;
  margin-left: 0rem;
  padding: 3px 6px;
  outline: 2px solid var(--Brown-button);
  outline-offset: 2px;
  border: none;
}

.details_buttons .button_update:hover{
  background-color: var(--Brown-button-hover);
}

.delete_final{
  flex-direction: column;
}

.confirmation_buttons{
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_tag{
  padding-bottom: 4px;
}
.detail_tag{
  padding-bottom: 4px;
}

/* Message style */
.label_message{
  margin-bottom: 8px;
}

.area_message{
  width: 16rem;
  background-color: var(--Very-light-gray-background-input);
  border-radius: 4px;
}

.footer {
  width: 100%;
  background-color: rgb(94, 90, 85);
  color: black;
  padding: 1rem ;
  text-align: center;
  position: relative;
  bottom: 0;
}
.footer .span {
  font-size: 1.2em;
}
/* ----------------------------------------------------- */

/* screen 768px */
@media only screen and (min-width: 768px) {
  .logo-title{
    display: flex;
  }

  .h1 .a{
    font-size: 28px;
    transform: translate(-7%, 30%);
  }

  .logo{
    width: 120px;
    margin: 1.5rem;
  }

  .bar-btn{
    display: none;
  }

  .ul-nav-menu {
    width: 100%;
    height: 2rem;
    position: relative;
    background-color: transparent;
    top: 0px;
    right: 30px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .ul-nav-menu .li {
    padding: 0 10px;    
  }

  .ul-nav-menu .li .a {
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 1px 1px 3px black;
  }

  /* General style */
  .table{
    width: 80%;
    font-size: 14px;
  }

  .buttons_actions{
    flex-direction: row;
  }
  
  .button_details{
    background-color: var(--Violet-button);
    border-radius: 10px;
    margin: 0.7rem;
    padding: 3px 6px;
    outline: 2px solid var(--Violet-button);
    outline-offset: 2px;
    border: none;
  }

  .confirmation_buttons{
    width: 35%;
  }

  section{
    width: 450px;
  }

  input{
    width: 19rem;
  }

  .form_buttons{
    margin: 0.5rem 0 0 15rem;
  }

  .details_buttons{
    margin: 0.5rem 1rem 0 10rem;
  }

  /* Message style */
  .area_message{
    width: 25rem;
  }
}

/* ----------------------------------------------------- */

/* screen 1140px */
@media only screen and (min-width: 1140px) {
  .h1{
    top: 10px;
    bottom: 0;
    left: 100px;
    right: 0;
  }

  .h1 .a{
    font-size: 36px;
    transform: translate(-20%, 30%);
  }

  .ul-nav-menu {
    top: 0;
    right: 30px;
  }

  .logo{
    width: 160px;
    margin: 0.5rem 2rem 0 5rem;
  }

  .table{
    width: 70%;
    font-size: 17px;
  }

  label .bar-btn {
    display: none;
  }

  /* General style */
  section{
    width: 500px;
  }

  input{
    width: 22rem;
  }

  .form_buttons{
    margin: 0.5rem 0 0 18rem;
  }

  .details_buttons{
    margin: 0.5rem 0 0 14rem;
  }

  /* Message style */
  .area_message{
    width: 28rem;
  }
}