:root{
  --Gray-ligth-form: hsl(0, 0%, 52%);
  --Gray-ligth-label: hsl(60, 3%, 43%);
  --Gray-border: hsla(0, 0%, 9%, 0.702);
  /* --Blue-input: hsla(206, 54%, 57%, 0.598); */
  --Blue-button: hsl(219, 89%, 51%);
  --Red-button: hsl(0, 65%, 56%);
  --Green-button: hsl(135, 51%, 33%);
  --Brown-button: hsl(48, 89%, 33%);
  --Blue-button-hover: hsl(244, 83%, 53%);
  --Red-button-hover: hsl(0, 93%, 50%);
  --Green-button-hover: hsl(135, 91%, 48%);
  --Brown-button-hover: hsl(48, 91%, 50%);
  --Very-light-gray-background-input: hsl(0, 4%, 78%);
  --background: repeating-linear-gradient(
    -45deg,
    #fff,
    #fff 20px,
    hsl(0, 4%, 78%) 20px,
    hsl(0, 4%, 78%) 40px
    /* -45deg,
    yellow,
    yellow 20px,
    black 20px,
    black 40px */
)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: var(--background);
  height: 100vh;
  /* min-height: calc(100vh - 0.1px); */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
  width: 100%;
  height: 164px;
  text-align: center;
  background-image: url(/assets/background-rent-machinery.jpg);
  padding: 40px 20px;
  position: relative;
}

header:before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(163, 159, 159, 0.401);
}

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
}

nav img{
  width: 110px;
  position: relative;
}

nav h1{
  color: black;
  position: relative;
  transform: translate(-10%, 15%);
  padding: 0 30px;
}

/* FORMS */
/* General style */
section{
  background-color: var(--Gray-ligth-form);
  width: 290px;
  /* margin: 12rem 2rem; */
  padding: 0.8rem 0.3rem;
  border: 2px solid var(--Gray-border);
  border-radius: 8px;
  box-shadow: 2px 3px 8px rgb(63, 62, 62) ;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form{
  border-radius: 5px;
}

label{
  width: 6rem;
  background-color: var(--Gray-ligth-label);
  border-radius: 3px;
}

input{
  width: 10rem;
  background-color: var(--Very-light-gray-background-input);
}

.form_buttons{
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0 0 7rem;
  padding: 0.5rem;
}

.form_buttons .save{
  background-color: var(--Blue-button);
  border-radius: 10px;
  margin-left: 1.7rem;
  padding: 3px 6px;
  outline: 2px solid var(--Blue-button);
  outline-offset: 2px;
  border: none;
}

.form_buttons .save:hover{
  background-color: var(--Blue-button-hover);
}

.form_buttons .cancel, .detail_buttons .cancel, td .delete{
  background-color: var(--Red-button);
  border-radius: 10px;
  padding: 3px 6px;
  outline: 2px solid var(--Red-button);
  outline-offset: 2px;
  border: none;
}


.form_buttons .cancel:hover, .detail_buttons .cancel:hover, td .delete:hover{
  background-color: var(--Red-button-hover);
}

.detail_buttons{
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0 0 3rem;
  padding: 0.5rem ;
}

.detail_buttons .edit{
  background-color: var(--Green-button);
  border-radius: 10px;
  margin-left: 1rem;
  padding: 3px 6px;
  outline: 2px solid var(--Green-button);
  outline-offset: 2px;
  border: none;
}

.detail_buttons .edit:hover{
  background-color: var(--Green-button-hover);
}

.detail_buttons .update{
  background-color: var(--Brown-button);
  border-radius: 10px;
  margin-left: 0rem;
  padding: 3px 6px;
  outline: 2px solid var(--Brown-button);
  outline-offset: 2px;
  border: none;
}

.detail_buttons .update:hover{
  background-color: var(--Brown-button-hover);
}

.form_tag{
  padding-bottom: 4px;
}
.detail_tag{
  padding-bottom: 4px;
}

/* Message style */
.label_message{
  margin-bottom: 8px;
}

.area_message{
  width: 16rem;
  background-color: var(--Very-light-gray-background-input);
  border-radius: 4px;
}

/* screen 768px */
@media (min-width: 768px) {
  nav h1{
    font-size: 42px;
    transform: translate(-7%, 30%);
    padding: 0;
  }

  nav img{
    width: 120px;
  }

  /* General style */
  section{
    width: 450px;
  }

  input{
    width: 19rem;
  }

  .buttons{
    margin: 0.5rem 1rem 0 16rem;
  }

  .detail_buttons{
    margin: 0.5rem 1rem 0 12rem;
  }

  /* Message style */
  .area_message{
    width: 25rem;
  }
}

/* screen 1280px */
@media (min-width: 1280px) {
  nav h1{
    font-size: 48px;
    transform: translate(-20%, 30%);
    padding-right: 50px;
  }

  nav img{
    width: 140px;
    margin-left: 5rem;
  }

  /* General style */
  section{
    width: 500px;
  }

  input{
    width: 22rem;
  }

  .buttons{
    margin: 0.5rem 1rem 0 19rem;
  }

  .detail_buttons{
    margin: 0.5rem 1rem 0 15rem;
  }

  /* Message style */
  .area_message{
    width: 28rem;
  }
}

/* TABLES */
/* General Style */
.table{
  font-size: 10px;
  width: 90%;
  border: 1px solid black;
  text-align: center;
}

.link_vista{
  text-decoration: none;
}

/* screen 768px */
@media (min-width: 768px) {
  .table{
    width: 80%;
  }

  .td_name .delete{

  }
}

/* screen 1280px */
@media (min-width: 1280px){
  .table{
    width: 60%;
  }
}